<div class="container">
 <h1>Menu</h1>
 <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let dish of dishes">
        <img src="{{dish.image}}" alt="{{dish.name}}">
        <mat-grid-tile-footer>{{dish.name | uppercase}}</mat-grid-tile-footer>
    </mat-grid-tile>
 
  </mat-grid-list>
  <hr>
   <div *ngIf="selectedDish">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
              <h3>{{selectedDish.name |uppercase}}</h3>
            </mat-card-title>
          
        </mat-card-header>
        <img height=200 mat-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
        <mat-card-content>
          <p>
           {{selectedDish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>

      </mat-card> 

  </div>
</div>